.fon3{
	background: url('Pictures/fon3.jpg');
}
.fon2{
	background: url('Pictures/fon2.jpg');
}
.fon1{
	background: url('Pictures/fon1.jpg');
}
h1{
	margin-left: 620px;
	display: inline-block;
}
h2{
	margin-left: 45%;
}
h3{
	margin-top: 50px;
}
#music{
	display:none;
}
li{
	margin-top: 5px;
}
#footer{
	clear:both;
	margin-top:50px;
	text-align:right;
}
#start{
	margin-left: 110px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	float:left;
}
#intro{
	float: left;
	margin-left: 0px;
	width: 400px;
	margin-top: 30px;
}
#rule{
	float: left;
	width: 600px;
	margin-left: 200px;
}
#chooser{
	/* display: inline-block; */
	float: right;
	margin-top: -500px;
	margin-right: 250px;
	text-align: left;
}
.back{
	background:url('Pictures/pole.jpg');
	width: 500px;
	height: 500px;
	border-radius: 10px;
	border: 3px solid #000;
}
.over{
	background:url('Pictures/game_over.jpg');
	width: 430px;
	height: 500px;
}
.win{
	background:url('Pictures/win.gif');
	width: 500px;
	height: 500px;
}
#txt{
	position: absolute;
	display: inline-block;
}
.hidden{
	display:none;
}
*{
	 -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
