h1{
	margin-left: 43%;
}
h2{
	margin-left: 47%;
}
#mucic{
	display:none;
}
#footer{
	clear:both;
	margin-top:50px;
	text-align:right;
}
#start{
	margin-left: 210px;
	width: 400px;
	height: 200px;
	float:left;
}
#intro{
	float: left;
	margin-left: 200px;
}
#rule{
	float: left;
	margin-left: 200px;
}
.back{
	background:url('pole.jpg');
	width: 500px;
	height: 500px;
}
.over{
	background:url('game_over.jpg');
	width: 430px;
	height: 500px;
}
.win{
	background:url('win.gif');
	width: 500px;
	height: 500px;
}
#txt{
	position: absolute;
	display: inline-block;
} 
#enemy_1{
	padding-left: 400px;
}
#enemy_3{
	padding-top: 100px;
	padding-left: 400px;
}
#enemy_7{
	padding-left: 400px;
	padding-top: 400px;
}
#enemy_8{
	padding-left: 250px;
}
#enemy_9{
	padding-top: 400px;
	padding-left: 200px;
}
#enemy_10{
	padding-bottom: 400px;
	position: absolute;
}
/* #enemy_11{
	padding-top: 190px;
	padding-left: 175px;
} */
.hidden{
	display:none;
}