h1{
	margin-left: 620px;
	display: inline-block;
}
h2{
	margin-left: 45%;
}
h3{
	margin-top: 50px;
}
#mucic{
	display:none;
}
#footer{
	clear:both;
	margin-top:50px;
	text-align:right;
}
#start{
	margin-left: 170px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	float:left;
}
#intro{
	float: left;
	margin-left: 0px;
	width: 400px;
}
#rule{
	float: left;
	width: 600px;
	/* display: inline-block; */
	margin-left: 200px;
}
#chooser{
	display: inline-block;
	float: right;
	margin-top: -500px;
	margin-right: 250px;
	text-align: left;
	/* position: absolute; */
}
.back{
	background:url('Pictures/pole.jpg');
	width: 500px;
	height: 500px;
}
.over{
	background:url('Pictures/game_over.jpg');
	width: 430px;
	height: 500px;
}
.win{
	background:url('Pictures/win.gif');
	width: 500px;
	height: 500px;
}
#txt{
	position: absolute;
	display: inline-block;
}
.hidden{
	display:none;
}