#enemy_7{
	padding-left: 400px;
}
#enemy_2{
	/* none */
}
#enemy_8{
	padding-top: 100px;
	padding-left: 400px;
}
#enemy_4{
	/* none */
}
#enemy_5{
	/* none */
}
#enemy_6{
	margin-top: 400px;
}
#enemy_1{
	padding-left: 400px;
	padding-top: 400px;
}
#enemy_3{
	padding-left: 250px;
}
#enemy_9{
	padding-top: 400px;
	padding-left: 200px;
}
#enemy_10{
	padding-bottom: 400px;
	position: absolute;
}